.button {
  background-color: var(--color-black);
  color: var(--color-primary);
  font-family: "Poppins", sans-serif;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.button:hover {
  opacity: 0.9;
}
