/* Hero.module.css */
.hero {
  background-color: var(--color-black); /* Checks Test Case 10 */
  height: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
}