/* Card.module.css */
.card {
    width: 150px; /* Standard card width */
    height: auto;
    cursor: pointer;
    flex-shrink: 0;
    margin-bottom: 20px;
}

.cardWrapper {
    position: relative;
    width: 100%;
    height: 150px;
    border-radius: 10px;
    overflow: hidden;
}

.cardImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--color-white);
    color: var(--color-black);
    padding: 6px 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 14px;
    font-weight: 500;
    border-radius: 0 0 10px 10px;
}

.cardTitle {
    color: var(--color-white);
    margin-top: 10px;
    font-size: 16px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}