/* Navbar.module.css */
.navbar {
  background-color: var(--color-primary);
  height: 74px;
  width: 100vw;
  padding: 0px 32px; /* Ensures space to the left (Test 2) */
  display: flex;
  align-items: center; /* Vertically centers children (Test 2) */
  justify-content: space-between; /* Separates components (Test 1) */
}