.wrapper {
  display: flex;
  align-items: center;
  background-color: var(--color-black);
  border: 1px solid var(--color-primary);
  border-radius: 10px;
  padding: 5px 10px;
  width: 300px;
  position: relative;
}

.search {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 14px;
  padding: 8px;
}

.searchButton {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--color-primary);
  display: flex;
  align-items: center;
}

.listBox {
  width: 100%;
  position: absolute;
  top: 60px;
  background: var(--color-black);
  border: 1px solid var(--color-primary);
  border-radius: 0 0 10px 10px;
  max-height: 500px;
  overflow-y: auto;
  z-index: 10;
  padding: 0;
  margin: 0;
  list-style: none;
}

.listElement {
  padding: 10px;
  cursor: pointer;
}

.listElement:hover {
  background-color: #1f1f1f;
}

.albumTitle {
  font-size: 14px;
  color: white;
  margin: 0;
}

.albumArtists {
  font-size: 12px;
  color: gray;
  margin: 0;
}
